<h1 class="page-header"><fa name="sliders"></fa> Manage your services</h1>
<h2 class="page-header no-margin-top">Service #{{product.id}}</h2>
<div class="alert alert-danger" ng-show="isInactive(product)">
    <p><fa name="warning"></fa> This service has been terminated, suspended, cancelled or is still pending. No action can be taken on it.</p>
</div>
<div class="alert alert-warning" ng-show="product.name === 'Free'">
    <p><fa name="warning"></fa> Some features are not available to free users.</p>
</div>
<div class="alert alert-warning" ng-show="product.isReseller">
    <p><fa name="warning"></fa> As resellers need to stay white label, most of Control's features are not available for resellers.</p>
</div>
<tabset vertical="true" type="pills">
    <tab>
        <tab-heading><i class="fa fa-fw fa-info"></i> Information</tab-heading>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Server</div>
                    <div class="panel-body"><p class="lead">{{product.server}}</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Username</div>
                    <div class="panel-body"><p class="lead">{{product.username}}</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Status</div>
                    <div class="panel-body"><p class="lead">{{product.status}}</p></div>
                </div>
            </div>
        </div>
        <p><a href="https://my.shoutca.st/clientarea.php?action=productdetails&id={{product.id}}" class="btn btn-lg btn-info btn-block">View Details <fa name="chevron-right"></fa></a></p>
    </tab>

    <tab disabled="product.name === 'Free' || isInactive(product)" ng-hide="!isStreamingServer(product)">
        <tab-heading><i class="fa fa-fw fa-mobile-phone"></i> Mobile Apps</tab-heading>
        <div class="alert alert-info" ng-show="(product.hasAndroidApp && product.hasiOSApp)">
            <p>You have already requested your mobile apps.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Android App</div>
                    <div class="panel-body"><p class="lead" ng-class="{'text-success': product.hasAndroidApp}">{{product.hasAndroidApp ? 'Requested' : 'Not requested'}}</p></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">iOS App</div>
                    <div class="panel-body"><p class="lead" ng-class="{'text-success': product.hasiOSApp}">{{product.hasiOSApp ? 'Requested' : 'Not requested'}}</p></div>
                </div>
            </div>
        </div>
        <p><a href="/manage/request-app" class="btn btn-lg btn-default btn-block" ng-class="{'disabled': (product.hasAndroidApp && product.hasiOSApp)}"><fa name="mobile-phone"></fa> Request Apps</a></p>
    </tab>

    <tab disabled="product.name === 'Free' || isInactive(product)" ng-hide="!isStreamingServer(product)">
        <tab-heading><i class="fa fa-fw fa-twitter"></i> Twitter #NowPlaying</tab-heading>
        <p>#NowPlaying is a free service that automatically posts your now playing information to Twitter. It allows your listeners to know what you're currently playing and artists to interact with you, directly on Twitter.</p>
        <p><a href="/manage/now-playing-tweets" class="btn btn-lg btn-default btn-block"><fa name="twitter" style="color: #55ACEE;"></fa> Manage &#35;NowPlaying</a></p>
    </tab>
</tabset>
