<div class="alert alert-warning" ng-show="product.name === 'Free'">
    <p><fa name="warning"></fa> Some features are not available to free users.</p>
</div>
<div class="alert alert-warning" ng-show="product.isReseller">
    <p><fa name="warning"></fa> As resellers need to stay white label, most of Control's features are not available for resellers.</p>
</div>
<div class="row">
    <nav class="panel panel-default panel-nav col-sm-3 bootcards-list">
        <ul class="panel-body nav nav-pills nav-stacked">
            <li ng-class="{active: ('manage.information'|routeSegmentEqualsTo)}">
                <a href="{{ 'manage.information' | routeSegmentUrl }}"><fa name="info" fw></fa> Information</a>
            </li>
            <li ng-class="{active: ('manage.requestApp'|routeSegmentEqualsTo)}">
                <a href="{{ 'manage.requestApp' | routeSegmentUrl }}"><fa name="mobile-phone" fw></fa> Mobile Apps</a>
            </li>
            <li ng-class="{active: ('manage.nowPlayingTweets'|routeSegmentEqualsTo)}">
                <a href="{{ 'manage.nowPlayingTweets' | routeSegmentUrl }}"><fa name="twitter" fw></fa> #NowPlaying</a>
            </li>
        </ul>
    </nav>
    <section class="col-sm-9 bootcards-cards" app-view-segment="1">
    </section>
</div>
