<h1 class="page-header"><fa name="sliders"></fa> Manage your services</h1>
<br>
<tabset vertical="true" type="pills">
    <tab ng-repeat="product in products">
        <tab-heading><fa name="gear"></fa> {{product.group}} - {{product.name}}<br><i>{{product.username}}</i> <span class="label" ng-class="{'label-danger': (['Terminated', 'Suspended', 'Cancelled'].indexOf(product.status) > -1), 'label-warning': (product.status === 'Pending'), 'label-success': (product.status === 'Active')}">{{product.status}}</span></tab-heading>
        <h2 class="page-header no-margin-top">Service #{{product.id}}</h2>
        <!-- Warnings -->
        <div class="alert alert-danger" ng-show="isInactive(product)">
            <p><fa name="warning"></fa> This service has been terminated, suspended, cancelled or is still pending. No action can be taken on it.</p>
        </div>
        <div class="alert alert-warning" ng-show="product.name === 'Free'">
            <p><fa name="warning"></fa> Some features are not available to free users.</p>
        </div>
        <div class="alert alert-warning" ng-show="product.isReseller">
            <p><fa name="warning"></fa> As resellers need to stay white label, most of Control's features are not available for resellers.</p>
        </div>
        <div class="alert alert-info" ng-show="(product.hasAndroidApp && product.hasiOSApp)">
            <p><fa name="info-circle"></fa> You have already requested your mobile apps.</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Server</div>
                    <div class="panel-body"><p class="lead">{{product.server}}</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Username</div>
                    <div class="panel-body"><p class="lead">{{product.username}}</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Status</div>
                    <div class="panel-body"><p class="lead">{{product.status}}</p></div>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div ng-hide="product.name === 'Free'">
            <p ng-hide="isInactive(product) || isStreamingServer(product) || (product.hasAndroidApp && product.hasiOSApp)"><a href="#/manage/{{product.username}}/request-app" class="btn btn-lg btn-default btn-block"><fa name="mobile-phone"></fa> Request Apps</a></p>
        </div>
        <p><a href="https://my.shoutca.st/clientarea.php?action=productdetails&id={{product.id}}" class="btn btn-lg btn-info btn-block">View Details <fa name="chevron-right"></fa></a></p>
    </tab>
</tabset>
