<section class="panel panel-default">
    <div class="panel-body">
        <h4>#NowPlaying Tweets</h4>
        <p class="service-description">Get social and interact with your listeners!</p>
        <p>#NowPlaying is a free service that automatically posts your now playing information to Twitter. It allows your listeners to know what you're currently playing and artists to interact with you, directly on Twitter.</p>
        <p>We recommend enabling it with an interval between 5 and 10.</p>
    </div>
</section>

<div id="alert-now-playing-box" flash-alert active-class="in alert" class="animated-custom fade">
    <p class="alert-message"><i class="fa alert-icon-{{flash.type}}"></i> {{ flash.message }}</p>
</div>
<div class="alert alert-info" ng-show="form.$invalid">
    <p><fa name="warning"></fa> You need to configure #NowPlaying before it can be enabled.</p>
</div>
<div class="alert alert-warning" ng-show="(settings.prefix + ' This is a Song Name - Artist Name ' + settings.suffix).length > 140" >
    <p><fa name="warning"></fa> Your Tweets might be too long and may not be able to be sent. Consider making your prefix and/or suffix shorter.</p>
</div>
<div class="alert alert-warning" ng-show="(settings.prefix + ' This is a Song Name - Artist Name ' + settings.suffix).indexOf('http') !== -1" >
    <p><fa name="warning"></fa> Including an URL might result in getting your Tweets blocked by Twitter (possible spam). Consider removing it.</p>
</div>

<section class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" novalidate role="form" name="form" ng-submit="submitSettings(settings)" ng-hide="unauthorised">
            <h4 class="card-header pull-left">Settings</h4>
            <div class="pull-right">
                <div toggle-switch ng-disabled="submitting || form.$invalid" class="switch-success switch-large" ng-model="nowPlayingState" on-label="Enabled" off-label="Disabled"></div>
            </div>
            <div class="clearfix"></div>
            <br>
            <fieldset ng-disabled="submitting">
                <div class="well">
                    <p>Here's what a #NowPlaying Tweet currently looks like:</p>
                    <blockquote class="no-margin-bottom">
                        <p class="always-wrap">{{settings.prefix}} This is a Song Name - Artist Name {{settings.suffix}}</p>
                        <small>@yourtwitterhandle (preview)</small>
                    </blockquote>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" show-errors>
                            <label for="prefix" class="col-sm-2 control-label">Prefix</label>
                            <div class="col-sm-10">
                                <input type="text" id="prefix" class="form-control" placeholder="This is added before the Tweet's content." ng-model="settings.prefix" name="prefix" required>
                                <p class="help-block">This is often used for adding hashtags such as #NowPlaying.</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="suffix" class="col-sm-2 control-label">Suffix</label>
                            <div class="col-sm-10">
                                <input type="text" id="suffix" class="form-control" placeholder="This is added after the Tweet's content (optional)." ng-model="settings.suffix" name="suffix">
                            </div>
                        </div>
                        <div class="form-group" show-errors ng-class="{'has-warning': (settings.interval === 1)}">
                            <label for="interval" class="col-sm-2 control-label">Interval</label>
                            <div class="col-sm-10">
                                <input type="number" id="interval" step="1" min="1" placeholder="Interval" class="form-control" ng-model="settings.interval" name="interval" required>
                                <p class="help-block">#NowPlaying Tweets will be sent every {{settings.interval}} song<span ng-show="settings.interval > 1">s</span>.<span ng-show="settings.interval === 1"><br>We don't recommend this if the songs aren't very long.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" show-errors>
                            <label for="consumer-key" class="col-sm-5 control-label">Consumer Key</label>
                            <div class="col-sm-7">
                                <input type="text" id="consumer-key" placeholder="Consumer Key" class="form-control" ng-model="settings.consumerKey" name="consumer-key" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="consumer-secret" class="col-sm-5 control-label">Consumer Secret</label>
                            <div class="col-sm-7">
                                <input type="text" id="consumer-secret" placeholder="Consumer Secret" class="form-control" ng-model="settings.consumerSecret" name="consumer-secret" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="access-token" class="col-sm-5 control-label">Access Token</label>
                            <div class="col-sm-7">
                                <input type="text" id="access-token" placeholder="Access Token" class="form-control" ng-model="settings.accessToken" name="access-token" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="access-token-secret" class="col-sm-5 control-label">Access Token Secret</label>
                            <div class="col-sm-7">
                                <input type="text" id="access-token-secret" placeholder="Access Token Secret" class="form-control" ng-model="settings.accessTokenSecret" name="access-token-secret" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p class="help-block">Need help for getting this? <a href="https://community.shoutca.st/topic/56/nowplaying-how-to-generate-your-api-keys">Click here.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-block btn-primary"><fa name="save"></fa> Save settings</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger btn-block" ng-click="removeSettings()"><fa name="trash-o"></fa> Remove settings</button>
                    </div>
                </div>
                <br>
            </fieldset>
        </form>
    </div>
</section>
