# Force SSL
RewriteCond %{SERVER_PORT} 80
RewriteCond %{SERVER_NAME} "control.shoutca.st"
RewriteRule ^(.*)$ https://control.shoutca.st/$1 [R=301,L]

AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff

<FilesMatch "\.(ttf|otf|eot|woff|css)$">
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>

RewriteEngine on
# If the request is not for a valid directory...
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file...
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not for a valid link...
RewriteCond %{REQUEST_FILENAME} !-l
# ... then pass it to AngularJS.
RewriteRule ^(.*) /index.html [NC,L]
