/* Text */
.text-uppercase {
    text-transform: uppercase;
}

.text-original {
    text-transform: none !important;
}

.uc-first {
    text-transform: capitalize;
}

.font-diavlo {
    font-family: 'Diavlo Light';
}

.always-wrap {
    word-wrap: break-word;
    white-space: normal;
}

.never-wrap {
    white-space: nowrap;
}

/* Buttons */
.broad-button {
    padding-left: 20px;
    padding-right: 20px;
}

/* dl lists */
.dl-taller dt, .dl-taller dd {
    padding-top: 8px;
}

/* Visibility */
.always-visible-block {
    display: block !important;
}

.always-visible-inline {
    display: inline !important;
}

.always-visible-inline-block {
    display: inline-block !important;
}

/* Equal height rows */
@media screen and (min-width: 769px) {
    .row-equal-height, .row-equal-height > div[class*='col-'] {
        display: flex;
        flex: 1 1 auto;
    }

    .row-equal-height > div[class*='col-'] > div {
        width: 100%;
    }
}

/* left right container */
.flex-left-right {
  display: flex;
  justify-content: space-between;

  .left {
    flex: 1;
    margin-right: auto;
    text-align: left;
  }
  .right {
    flex: 1;
    margin-left: auto;
    text-align: right;
  }
  .flex-auto {
    flex: 0 auto;
  }
}

/* spacing */
.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-border-bottom {
    border-bottom: 0;
}

.no-border-top {
    border-top: 0;
}

.no-margin-never {
    margin: 0 !important;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

/* Alert icons */
.alert-icon-error:before, .alert-icon-warning:before {
    content: "\f071";
}

.alert-icon-info:before {
    content: "\f05a";
}

.alert-icon-success:before {
    content: "\f058";
}
