.play-stop-button {
    display: inline;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 16px;
    transition: opacity 0.1s linear;
}

.play-stop-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .play-stop-button {
        font-size: 18px;
        padding-bottom: 20px;
        padding-top: 25px;
    }
}
