<section class="panel panel-default">
    <div class="panel-body">
        <h4>#NowPlaying Tweets</h4>
        <p class="service-description">Get social and interact with your listeners!</p>
        <p>#NowPlaying is a free service that automatically posts your now playing information to Twitter. It allows your listeners to know what you're currently playing and artists to interact with you, directly on Twitter.</p>
        <p>We recommend enabling it with an interval between 5 and 10.</p>
    </div>
</section>

<div id="alert-now-playing-box" flash-alert active-class="in alert" class="animated-custom fade">
    <p class="alert-message"><i class="fa alert-icon-{{flash.type}}"></i> {{ flash.message }}</p>
</div>
<div class="alert alert-info" ng-show="form.$invalid">
    <p><fa name="warning"></fa> You need to configure #NowPlaying before it can be enabled.</p>
</div>
<div class="alert alert-warning" ng-show="(settings.prefix + ' This is a Song Name - Artist Name ' + settings.suffix).length > 140" >
    <p><fa name="warning"></fa> Your Tweets might be too long and may not be able to be sent. Consider making your prefix and/or suffix shorter.</p>
</div>
<div class="alert alert-warning" ng-show="(settings.prefix + ' This is a Song Name - Artist Name ' + settings.suffix).indexOf('http') !== -1" >
    <p><fa name="warning"></fa> Including an URL might result in getting your Tweets blocked by Twitter (possible spam). Consider removing it.</p>
</div>

<section class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" novalidate role="form" name="form" ng-submit="submitSettings(settings)" ng-hide="unauthorised">
            <h4 class="card-header pull-left">Settings</h4>
            <div class="pull-right">
                <div toggle-switch is-disabled="submitting || form.$invalid" class="switch-success switch-large" ng-model="nowPlayingState" on-label="Enabled" off-label="Disabled"></div>
            </div>
            <div class="clearfix"></div>
            <br>
            <fieldset ng-disabled="submitting">
                <div class="well">
                    <p>Here's what a #NowPlaying Tweet currently looks like:</p>
                    <blockquote class="no-margin-bottom">
                        <p class="always-wrap">{{settings.tweet.replace("%title", "This is a Song Name").replace("%artist", "Artist Name")}}</p>
                        <small>@yourtwitterhandle (preview) <span class="pull-right">{{(settings.tweet.replace("%title", "This is a Song Name").replace("%artist", "Artist Name")).length}}/140</span></small>
                    </blockquote>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" show-errors>
                            <label for="tweet" class="col-sm-2 control-label">Tweet</label>
                            <div class="col-sm-10">
                                <textarea rows="4" id="tweet" class="form-control" ng-model="settings.tweet" name="tweet" required></textarea>
                                <p class="help-block">Your Tweet content. Use <code>%title</code> and <code>%artist</code> for the song title and the artist name.</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="interval" class="col-sm-2 control-label">Every</label>
                            <div class="col-sm-4">
                                <input type="number" id="interval" step="1" min="1" placeholder="Interval" class="form-control text-center" ng-model="settings.interval" name="interval" required>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-justified" role="group" aria-label="Mode" ng-model="settings.mode" bs-radio-group>
                                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="interval"> song<span ng-show="settings.interval !== 1">s</span></label>
                                    <label class="btn btn-default"><input type="radio" class="btn btn-default" value="time"> minute<span ng-show="settings.interval !== 1">s</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" show-errors>
                            <label for="consumer-key" class="col-sm-5 control-label">Consumer Key</label>
                            <div class="col-sm-7">
                                <input type="text" id="consumer-key" placeholder="Consumer Key" class="form-control" ng-model="settings.consumerKey" name="consumer-key" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="consumer-secret" class="col-sm-5 control-label">Consumer Secret</label>
                            <div class="col-sm-7">
                                <input type="text" id="consumer-secret" placeholder="Consumer Secret" class="form-control" ng-model="settings.consumerSecret" name="consumer-secret" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="access-token" class="col-sm-5 control-label">Access Token</label>
                            <div class="col-sm-7">
                                <input type="text" id="access-token" placeholder="Access Token" class="form-control" ng-model="settings.accessToken" name="access-token" required>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="access-token-secret" class="col-sm-5 control-label">Access Token Secret</label>
                            <div class="col-sm-7">
                                <input type="text" id="access-token-secret" placeholder="Access Token Secret" class="form-control" ng-model="settings.accessTokenSecret" name="access-token-secret" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p class="help-block">Need help for getting this? <a href="https://community.shoutca.st/topic/56/nowplaying-how-to-generate-your-api-keys">Click here.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-block btn-primary"><fa name="save"></fa> Save settings</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger btn-block" ng-click="removeSettings()" ng-disabled="form.$invalid"><fa name="trash-o"></fa> Remove settings</button>
                    </div>
                </div>
                <br>
            </fieldset>
        </form>
    </div>
</section>
