.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
}
.collapse.am-collapse.in-remove {
    animation-name: collapse;
    display: block;
}
.collapse.am-collapse.in-add {
    animation-name: expand;
}

@keyframes slow-flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.slow-flash {
    animation-name: slow-flash;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.transition-all-100ms-linear {
    transition: all 0.1s linear;
}
