.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
}
.collapse.am-collapse.in-remove {
    animation-name: collapse;
    display: block;
}
.collapse.am-collapse.in-add {
    animation-name: expand;
}
