/* Boxes */
@media screen and (min-width: 769px) {
    .dashboard-box .panel-body {
        min-height: 12em;
    }

    .panel-log-in {
        width: 30%;
        margin-top: 5em;
    }
}

.panel-log-in .panel-body {
    padding-bottom: 2em;
}

.dashboard-box .panel-heading, .dashboard-box .panel-body {
    text-align: center;
}

.dashboard-box .large-number {
    font-size: 72px;
    font-family: 'Diavlo Light';
}

/* Navigation */
.panel-nav {
    padding: 0 !important;
    padding-bottom: 20px;
}

.panel-nav .header {
    /* based on .dropdown-header */
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 5px;
    cursor: default;
    text-transform: uppercase;
}

.panel-nav .nav-pills:not(:first-child) {
    padding-top: 0;
}

.panel-nav .nav-pills > li a,
.panel-nav .nav-pills > li a:focus {
    font-weight: normal !important;
}

/* Cards */
.bootcards-cards .alert-warning,
.alert-warning.border-darker, .panel-warning.border-darker {
    border-color: #E6DABF;
}

.bootcards-cards .alert-success,
.alert-success.border-darker, .panel-success.border-darker {
    border-color: #C3D6B4;
}

.bootcards-cards .alert-danger,
.alert-danger.border-darker, .panel-danger.border-darker {
    border-color: #CCB1B5;
}

.bootcards-cards .alert-info,
.alert-info.border-darker, .panel-info.border-darker {
    border-color: #A9CED6;
}

section.panel {
    padding-bottom: 10px;
}

section.panel .panel-body > h4,
.card-header {
    font-size: 20px;
    color: #232a31;
}

section.panel .list-group-item-heading {
    font-size: 16px;
}

.service-description {
    font-size: 16px;
    color: #5d5d5d;
}

section.panel[bs-collapse]:not(.not-collapsed) {
    padding-bottom: 0;
}

section.panel[bs-collapse] .collapsed-description {
    display: none;
}

section.panel[bs-collapse]:not(.not-collapsed) .collapsed-description {
    display: block;
}

[bs-collapse-toggle] {
    cursor: pointer;
}

[bs-collapse-toggle] i {
    float: right;
    cursor: pointer;
    transition: all 0.2s linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: inherit;
}

[bs-collapse-toggle] i:before {
    content: "\f138";
}

/* List groups */
.list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
a.list-group-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* App status colours */
.pending, .pendingUpdate, option[value="pending"], option[value="pendingUpdate"] {
    color: #e74c3c;
}

.inProgress, option[value="inProgress"] {
    color: #3498db;
}

.submitted, .submittedUpdate, option[value="submitted"], option[value="submittedUpdate"] {
    color: #27ae60;
}

.iOS .submitted, .iOS .submittedUpdate, select.iOS option[value="submitted"], select.iOS option[value="submittedUpdate"] {
    color: #d35400;
}

.approved, .approvedUpdate, option[value="approved"], option[value="approvedUpdate"] {
    color: #27ae60;
}

/* Service switcher */
.service-switcher {
    display: block;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border: 0;
    text-align: left;
    color: white;
    font-size: 16px;
    transition: all 0.1s linear;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 769px) {
    .service-switcher {
        font-size: 18px;
        padding-bottom: 17px;
        padding-top: 25px;
    }
    .service-switcher + .dropdown-menu {
        left: 10px !important;
        right: 10px !important;
        min-width: inherit !important;
    }
}

@media screen and (max-width: 992px) {
    .hidden-in-small-navbar {
        display: none !important;
    }
}

@media screen and (max-width: 380px) {
    .service-switcher {
        width: 120px;
    }
}

.service-switcher {
    font-weight: normal !important;
}

.service-switcher:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1024px) {
    .service-switcher .caret {
        float: right;
        position: relative;
        top: 8px;
    }
}

.service-switcher .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.service-switcher > .show-in-dropdown-only {
    display: none;
}

.service-switcher + .dropdown-menu {
    margin-top: -1px;
    min-width: 400px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;
    max-height: 350px;
}

.service-switcher + .dropdown-menu .hidden-in-small-navbar {
    display: inherit !important;
}

.service-switcher + .dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.service-switcher + .dropdown-menu li:not(.active) a:hover,
.service-switcher + .dropdown-menu li:not(.active) a:focus {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: inherit !important;
}

.dropdown-menu .active .text-muted,
.dropdown-menu li:focus .text-muted {
    color: white !important;
}
