#topbar .nav {
    margin-top: 0 !important;
}

@media screen and (max-width: 769px) {
    .tab-content {
        margin-top: 10px;
    }
}

.form-color-picker .input-group-addon {
    padding: 0;
    width: 30px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.fade:not(.in) {
    animation: fadeOut 0.3s both ease-in;
    display: none;
}

#form-login {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 8px;
    display: inline;
}

.ats-switch.switch-large .switch-left, .ats-switch.switch-large .switch-right, .ats-switch.switch-large .knob {
    padding-left: 8px;
    padding-right: 8px;
}

.ats-switch.switch-default .switch-left, .ats-switch.switch-default .switch-right, .ats-switch.switch-default .knob {
    padding-left: 5px;
    padding-right: 5px;
}

.ats-switch.switch-small .switch-left, .ats-switch.switch-small .switch-right, .ats-switch.switch-small .knob {
    padding-left: 3px;
    padding-right: 3px;
}

.ats-switch.switch-disabled, .ats-switch.switch-readonly, .ats-switch.switch-indeterminate {
    opacity: 1;
    border-color: #E6E6E6;
}

.ats-switch.switch-disabled .ats-switch-container, .ats-switch.switch-readonly .ats-switch-container, .ats-switch.switch-indeterminate .ats-switch-container {
    opacity: 0.5;
}
