.spinner {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  transform: scale(1.5);
}

.spinner.with-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.spinner svg {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  0% {
      stroke: #26e359;
  }
  25% {
      stroke: #27ae60;
  }
  50% {
      stroke: #276f2b;
  }
  75% {
      stroke: #26e359;
  }
  100% {
      stroke: #276f2b;
  }
}
