<div ng-show="isReady">
<h1 class="page-header"><i class="fa fa-sliders"></i> Manage your services</h1>

    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="product in products" ng-class="{active:isTabActive(product.id)}"><a href="#">{{product.group}} {{product.name}} - {{product.username}}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <h3 class="page-header"><i class="fa fa-sliders"></i> SHOUTcast v2 - testacc</h3>
        <b>Test info</b>
    </div>
</ul>
</div>