<p>&nbsp;<br></p>
<div class="alert alert-info">
    <p><b>Welcome, {{summary.firstname}}!</b> Control is still in development, so things may still change a lot until the final release! <a href="/feedback" class="alert-link">We appreciate any feedback you might have.</a></p>
</div>
<div class="row row-equal-height">
    <div class="col-sm-4">
        <div class="panel panel-success dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-gears"></i> Servers</h3>
            </div>
            <div class="panel-body">
                <p class="lead large-number" ng-class="{'text-success': services.length, 'text-error': !services.length}">{{ services.length }}</p>
                <p><a href="/manage" class="btn btn-default btn-block"><fa name="sliders"></fa> Manage</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default dashboard-box text-muted">
            <div class="panel-heading">
                <h3 class="panel-title">&nbsp;</h3>
            </div>
            <div class="panel-body">
                <br><br><br>
                <p>Coming soon</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default dashboard-box text-muted">
            <div class="panel-heading">
                <h3 class="panel-title">&nbsp;</h3>
            </div>
            <div class="panel-body">
                <br><br><br>
                <p>Coming soon</p>
            </div>
        </div>
    </div>
</div>
