<h1 class="page-header">{{ message }}</h1>
<div class="alert alert-info">
    <p><b>Welcome!</b> Control is still in development. You can currently only submit app development requests.</p>
</div>
<div class="row row-equal-height">
    <div class="col-sm-3">
        <div class="panel panel-success dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-gears"></i> Servers</h3>
            </div>
            <div class="panel-body">
                <p>This is coming soon!</p>
                <br><br><br>
                <p><a href="#/manage" class="btn btn-default btn-block">More <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> Listeners</h3>
            </div>
            <div class="panel-body">
                <p>This is coming soon!</p>
                <br><br><br>
                <p><a href="#/stats" class="btn btn-default btn-block">More <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Stats</h3>
            </div>
            <div class="panel-body">
                <p>This is coming soon!</p>
                <br><br><br>
                <p><a href="#/stats" class="btn btn-default btn-block">More <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-globe"></i> Location</h3>
            </div>
            <div class="panel-body">
                <p>This is coming soon!</p>
                <br><br><br>
                <p><a href="#/stats" class="btn btn-default btn-block">More <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
