<section class="panel panel-default">
    <div class="panel-body">
        <h4>Connection Info</h4>
        <p>Here is everything you need to go live with your favourite broadcasting software.</p>
    </div>
</section>
<div class="alert alert-warning">
    <p><fa name="warning"></fa> Never use the IP linked to your hostname. The IP address can and will change frequently, so relying on the IP can break your setup completely.</p>
</div>
<section class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <h4>Connection Protocol</h4>
                <span class="text-warning" ng-show="ctrl.protocol === 'Icecast'"><fa name="warning"></fa> The Icecast prototol may not work properly in all encoders.</span>
            </div>
            <div class="col-sm-4">
                <div class="btn-group-container">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-success btn-lg change-currency" ng-class="ctrl.protocol === 'SHOUTcast' && 'active'">
                            <input type="radio" ng-model="ctrl.protocol" value="SHOUTcast">SHOUTcast</label>
                        </label>
                        <label class="btn btn-success btn-lg change-currency" ng-class="ctrl.protocol === 'Icecast' && 'active'">
                            <input type="radio" ng-model="ctrl.protocol" value="Icecast">Icecast</label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<section class="panel panel-default" ng-repeat="stream in ctrl.config.streams">
    <div class="panel-body" ng-show="ctrl.protocol === 'SHOUTcast'">
        <h4>{{stream.stream}}</h4>
        <p><strong>Type: </strong>SHOUTcast (v1)</p>
        <p><strong>Hostname: </strong>{{ctrl.config.username}}.radioca.st</p>
        <p><strong>Port: </strong>{{ctrl.config.input.SHOUTcast}}</p>
        <p><strong>Password: </strong><code>{{stream.password}}</code></p>
    </div>
    <div class="panel-body" ng-show="ctrl.protocol === 'Icecast'">
        <h4>{{stream.stream}}</h4>
        <p><strong>Type: </strong>Icecast (v2)</p>
        <p><strong>Hostname: </strong>{{ctrl.config.username}}.radioca.st</p>
        <p><strong>Port: </strong>80</p>
        <p><strong>Mount point: </strong>/live/{{stream.stream}}</p>
        <p><strong>Username: </strong>source</p>
        <p><strong>Password: </strong><code>{{stream.password}}</code></p>
    </div>
</section>
<section class="panel panel-default">
    <div class="panel-body">
        <h4><fa name="question-circle"></fa> What to broadcast with?</h4>
        <p>Cast 1.0 will work fine with every SHOUTcast compatible encoder. Not sure which one you like? We listed our favourites below.</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
                <h4 class="list-group-item-heading"><fa name="windows"></fa> Windows</h4>
                 <ul>
                     <li><a ng-href="http://forums.winamp.com/showthread.php?t=372044">Winamp + SHOUTcast DSP</a></li>
                     <li><a ng-href="http://www.altacast.com">Altacast</a></li>
                     <li><a ng-href="http://www.radiodj.ro/">RadioDJ</a></li>
                     <li><a ng-href="http://spacial.com/sam-broadcaster">SAM Broadcaster</a></li>
                     <li><a ng-href="http://butt.sourceforge.net">Broadcast Using This Tool</a></li>
                 </ul>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
                <h4 class="list-group-item-heading"><fa name="apple"></fa> Mac</h4>
                 <ul>
                     <li><a ng-href="https://www.rogueamoeba.com/nicecast/">Nicecast</a></li>
                     <li><a ng-href="http://butt.sourceforge.net">Broadcast Using This Tool</a></li>
                 </ul>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
                <h4 class="list-group-item-heading"><fa name="linux"></fa> Linux</h4>
                 <ul>
                     <li><a ng-href="http://idjc.sourceforge.net">Internet DJ Console</a></li>
                     <li><a ng-href="http://butt.sourceforge.net">Broadcast Using This Tool</a></li>
                 </ul>
            <div class="clearfix"></div>
        </li>
    </ul>
</section>
