<nav class="navbar navbar-inverse navbar-fixed-top" id="topbar" role="navigation" ng-controller="NavigationCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar-collapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ng-class="{'always-visible-inline': !isActive('/manage')}">Control</a>
      <div class="navbar-nav no-margin-never">
        <button ng-show="isActive('/manage') && servicesLoaded" type="button" class="service-switcher" ng-cloak ng-model="$root.service" data-html="true" bs-options="service as ('<i class=\'fa fa-gear\'></i> #' + service.id + '<span class=\'hidden-in-small-navbar\'> - ' + service.username + '</span><span class=\'text-muted show-in-dropdown-only\'><br>' + service.group + ' - ' + service.name + '</span>') for service in $root.services" bs-select data-placeholder="Choose a service">
          <i class="fa fa-gear"></i> Choose a service <span class="hidden-xs caret"></span>
        </button>
        <button ng-show="service.streamUrl && (isActive('/manage') && servicesLoaded) || player.state === player.states.playing" title="Click to play/stop the stream" type="button" class="play-stop-button" ng-click="player.toggle(service.streamUrl)"><i class="fa" ng-class="{'fa-play': (player.state === player.states.stopped || player.state === player.states.buffering), 'fa-stop': (player.state === player.states.playing), 'slow-flash': (player.state === player.states.buffering)}"></i></button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="topbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/')}"><a data-toggle="collapse" data-target="#topbar-collapse.in" href="/" title="Dashboard"><i class="fa fa-dashboard"></i> Dash</a></li>
        <li ng-class="{ active: isActive('/manage')}"><a data-toggle="collapse" data-target="#topbar-collapse.in" href="/manage" title="Manage your server(s)"><i class="fa fa-sliders"></i> Manage</a></li>
        <li ng-class="{ active: isActive('/support')}"><a data-toggle="collapse" data-target="#topbar-collapse.in" href="/support" title="Support"><i class="fa fa-question-circle"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="text-original" href="//my.shoutca.st/submitticket.php?step=2&deptid=2" title="Support &amp; Help"><i class="fa fa-question-circle fa-fw"></i> Support</a></li>
            <li class="divider" role="presentation"></li>
            <li><a class="text-original" title="Reload the data" ng-click="reloadServices()"><i class="fa fa-refresh fa-fw"></i> Reload the data</a></li>
            <li><a class="text-original" title="Log out from Control" ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
