<!DOCTYPE html>
<html class="shoutca-st control">
<head>
  <meta charset="utf-8">
  <base href="<%= htmlWebpackPlugin.options.htmlBase %>">
  <title ng-bind="pageTitle ? (pageTitle + ' | Control | SHOUTca.st') : 'Control | SHOUTca.st'">Control | SHOUTca.st</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Stay in control of your SHOUTca.st services with Control">
  <link rel="icon" href="favicon.ico">
  <meta name="keywords" content="shoutcast, online radio, cast, dj, control panel, mobile apps">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Lato:400" rel="stylesheet">
</head>
<body class="bootcards-nofooter">
  <div ng-include="'header-nav.html'"></div>
  <div class="container" id="main-container">
    <noscript>
      <div class="alert alert-danger" style="margin-top: 2em;">
        <p><i class="fa fa-warning"></i> <b>This site won't work without JavaScript; please enable it.</b>
        </p>
      </div>
    </noscript>
    <div id="content" app-view-segment="0">
      <style>
        body {
          background: #232a31;
        }
        .loading-block {
          margin-top: 12em;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          color: white;
        }
        nav,
        footer,
        [ng-cloak] {
          display: none;
        }
      </style>
      <div class="loading-block">
        <!-- The loadingSpinner directive cannot be used here, -->
        <!-- as Angular and the app haven't fully loaded yet   -->
        <div class="spinner with-margin" ng-show="!initialLoadError">
          <svg>
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
          </svg>
        </div>
        <div ng-cloak ng-if="initialLoadError">
          <style>.loading-block { margin-top: 6em; }</style>
          <fa name="warning" style="font-size: 8em; margin-bottom: 20px"></fa>
          <p style="font-size: 1.3em">Something went wrong. Please reload the page and try again.</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'footer.html'"></div>
  <noscript>
    <img src="//piwik.shoutca.st/piwik.php?idsite=1" style="border: 0;" alt="Piwik" />
  </noscript>
  <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyAAEruDYbB67jJisuYovqXT8JhZdBPmXd8"></script>
</body>
</html>
