#topbar .nav {
    margin-top: 0 !important;
}

@media screen and (max-width: 769px) {
    .tab-content {
        margin-top: 10px;
    }
}

.form-color-picker .input-group-addon {
    padding: 0;
    width: 30px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.fade:not(.in) {
    animation: fadeOut 0.3s both ease-in;
    display: none;
}

#form-login {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 8px;
    display: inline;
}

.ats-switch.switch-large .switch-left, .ats-switch.switch-large .switch-right, .ats-switch.switch-large .knob {
    padding-left: 8px;
    padding-right: 8px;
}

.ats-switch.switch-default .switch-left, .ats-switch.switch-default .switch-right, .ats-switch.switch-default .knob {
    padding-left: 5px;
    padding-right: 5px;
}

.ats-switch.switch-small .switch-left, .ats-switch.switch-small .switch-right, .ats-switch.switch-small .knob {
    padding-left: 3px;
    padding-right: 3px;
}

.ats-switch.switch-disabled, .ats-switch.switch-readonly, .ats-switch.switch-indeterminate {
    opacity: 1;
    border-color: #E6E6E6;
}

.ats-switch.switch-disabled .ats-switch-container, .ats-switch.switch-readonly .ats-switch-container, .ats-switch.switch-indeterminate .ats-switch-container {
    opacity: 0.5;
}

[ng-cloak] {
    display: none !important;
}

.form-horizontal .form-group div div.input-group-addon {
    padding: 6px 12px;
}

.panel-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
    .row > [class^="col-sm-"]:not(:first-child),
    .form-group > [class^="col-sm-"]:not(:first-child) {
        margin-top: 10px;
    }
}

.alert.top,
.alert.top-left,
.alert.top-right {
    top: 70px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    border-radius: 3px;
}

@media screen and (min-width: 1024px) {
    .alert.top,
    .alert.top-left,
    .alert-top-right {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.editable-click {
    color: inherit;
    border-bottom: 0;
}

.editable-wrap, .editable-wrap .editable-input {
    display: block;
}

/* Don't use ugly monospace default font */
code, kbd, pre, samp, .monospace-font {
    font-family: Menlo, Monaco, Consolas, monospace;
}

.no-transition, .no-transition * {
    -webkit-transition: none !important;
    transition: none !important;
}

select {
    font-family: "Lato";
}

/* Overrides from bootstrap-cards */
.list-group-item i {
    opacity: initial;
    width: initial;
    text-align: initial;
    margin-right: initial;
}

.btn i {
    margin-right: initial;
}

/* Weird AngularJS .ng-hide fix */
.ng-hide {
    display: none !important;
}
