/**
 * Main site CSS based on commit cbc24a537edb76f963c25fbb69a96c12be7f8388
 * Some URLs and rules have been modified or removed
 */

::selection {
    background: #27ae60;
    color: white;
}

body {
    padding-top: 70px;
    font-family: "Montserrat", sans-serif;
    background: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: "Montserrat";
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

a {
    color: #2cc76a;
}

a:hover,a:focus {
    color: #1eb45a;
}

a.external-link:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
  font-size: small;
}

a[href^="http://shoutca.st"]:after, a[href^="https://shoutca.st"]:after, a.no-icon:after {
  content: "" !important;
  padding-left: 0;
}

.has-explicit-tooltip {
    border-bottom: 1px dotted gray;
}

.tooltip-inner {
    padding: 8px;
}

.small-container {
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}

.btn-group-container {
    width: 20%;
    margin-top: -2em;
}

@media screen and (max-width: 769px) {
    .btn-group-container {
        width: 100%;
        margin-top: 0;
    }

    .plans-selector {
        float: none !important;
        margin-top: 0;
    }
}

.list-group-item.disabled {
    color: darkgray;
    cursor: not-allowed;
}

.back-link {
    color: #468847;
    text-decoration: none;
    transition: 0.2s all ease;
}

.back-link:hover, .back-link:active {
    color: #37C539;
    text-decoration: none;
}

a.list-group-item:hover .list-group-item-heading, a.list-group-item:focus .list-group-item-heading {
    color: #1eb45a;
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 100% !important;
    }
}

#topbar .nav {
    margin-top: 8px;
}

.navbar-inverse {
    background: #232a31
}

.navbar-brand {
    padding: 10px 20px;
}

.navbar-inverse .navbar-toggle {
    transition: all 0.5s ease;
    border: none;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-toggle:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-link {
    color: white !important;
    transition: all 0.2s ease;
}

.navbar-inverse .navbar-link {
    color: white !important;
}

#topbar .nav li a {
    text-transform: uppercase;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff !important;
    background-color: #47a447 !important;
    border-color: #398439 !important;
}

.navbar-inverse .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-original {
    text-transform: none !important;
}

a:focus:not(.dropdown-toggle), button:focus {
    outline: none !important;
    font-weight: bold;
}

.dropdown-header {
    text-transform: uppercase;
}

.dropdown-menu li a:hover, .dropdown-menu li a.active, .dropdown-menu li a:active,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: #27ae60;
    color: white;
}

a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    color: #27ae60;
}

.custom-dropdown {
    border-radius: 0;
    background-color: #232a31;
    border: 0;
    box-shadow: 0;
}

.custom-dropdown li.divider {
    background: grey;
}

.custom-dropdown .dropdown-header {
    color: lightgrey;
}

.custom-dropdown li a {
    color: white;
}

.dropdown-form {
    padding: 15px;
}

.dropdown-header {
    text-transform: uppercase;
}

.btn {
    transition: all 0.5s ease;
}

ul {
    list-style: square;
}

input, textarea {
    font-family: "Lato", sans-serif;
}

.btn, button {
    font-family: "Montserrat", sans-serif;
}

.navbar-toggle.pull-left {
    left: 10px !important;
    right: auto !important;
}

.navbar-toggle {
    top: 12px !important;
}

.btn.btn-xl {
    font-size: 16pt;
    padding: 15px 40px;
}

.margin-top-0dot5em {
    margin-top: 0.5em;
}

.margin-top-minus-1em {
    margin-top: -1em;
}

.margin-top-minus-0dot5em {
    margin-top: -0.5em;
}

.green-icon {
    color: #e67e22;
}

@media (max-width: 768px) {
    .btn-xl {
        padding: 10px 16px !important;
        font-size: 16px !important;
        line-height: 1.33 !important;
        border-radius: 6px !important;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
